<footer class="footer">
    <p class="footer_copy">Breaking Coders &copy; 2022</p>
    <nav class="footer_menu">
        <ul>
            <li><a class="footer_links" href="./index.html#team">EQUIPO</a></li>
            <li><a class="footer_links"  href="./index.html#quienes-somos">QUIÉNES SOMOS</a></li>
            <li>CONTACTO</li>
        </ul>
    </nav>
    <div class="footer-img">
        <img src="https://github.com/Adalab/pw-project-promo-x-module-1-team-profes/blob/main/logo-adalab.png?raw=true" alt="logo" class="footer_img">
    </div>