<article class="fortalezas">
    <h4 class="fortalezas_h4">Fortalezas</h4>
    <p class="fortalezas_p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quas at incidunt alias illum rerum illo ratione quaerat provident, facilis consequuntur reprehenderit quidem autem vitae error molestias qui modi odit?</p>
</article>
<article class="debilidades">
    <h4 class="fortalezas_h4">Debilidades</h4>
    <p class="fortalezas_p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quas at incidunt alias illum rerum illo ratione quaerat provident, facilis consequuntur reprehenderit quidem autem vitae error molestias qui modi odit?</p>       
</article>