<h3 class="title-quienes">QUIÉNES SOMOS</h3>
<div class="div-quienes">
    <article class="article-1">
        <img class="img-quienes" src="./assets/images/maria-lopez.jpg.jpeg" alt="Foto de María López">
        <h5 class="name-quienes">María López</h5>
        <p class="text-quienes">Junior frontend developer. Editora audiovisual y educadora infantil antes de enamorarme de la programación. Una chica responsable y a su vez divertida, llena de energía y creatividad que acaba de aterrizar en el mundo del front. Sin miedo a explorar cada nuevo rincón de este planeta.</p>
        <ul class="social-media-items">
            <li class="item"><a href="" target="_blank" title="Twitter" <i class="fa-brands fa-twitter"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Linkedin" <i class="fa-brands fa-linkedin-in"></i></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="GitHub" <i class="fa-brands fa-github-alt"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Email" <i class="fa-solid fa-envelope"></i></a></li>
        </ul>
        
    </article>
    <article class="article-2">
        <img class="img-quienes" src="./assets/images/mireia-maldonado.jpg" alt="Foto de Mireia Maldonado">
        <h5 class="name-quienes">Mireia Maldonado</h5>
        <p class="text-quienes">Sevillana y graduada en Comunicación Audiovisual. He probado suerte como guionista, doctoranda y bibliotecaria. Como eso no daba de comer a mis dos perritos, ahora he decidido reinventarme y alejarme de páginas de papel para plasmar mi creatividad en un nuevo formato: el de las páginas web. </p>
         <ul class="social-media-items">
            <li class="item"><a href="" target="_blank" title="Twitter" <i class="fa-brands fa-twitter"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Linkedin" <i class="fa-brands fa-linkedin-in"></i></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="GitHub" <i class="fa-brands fa-github-alt"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Email" <i class="fa-solid fa-envelope"></i></a></li>
        </ul>

    </article>
    <article class="article-3">
        <img class="img-quienes" src="./assets/images/laura-valdenebro.jpg" alt="Foto de Laura Valdenebro">
        <h5 class="name-quienes">Laura Valdenebro</h5>
        <p class="text-quienes">Filóloga hispánica, profesora, lingüista computacional y, ahora, programadora web. Soy una persona con muchas ganas de aprender y avanzar, por lo que no me da miedo enfrentarme a lo desconocido. Cosas importantes sobre mí: siempre digo que sí a los planes y me encanta ofrecer una perspectiva diferente en todo tipo de situaciones. ¡Conmigo cerca es muy difícil que te aburras!</p>
        <ul class="social-media-items">
            <li class="item"><a href="" target="_blank" title="Twitter" <i class="fa-brands fa-twitter"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Linkedin" <i class="fa-brands fa-linkedin-in"></i></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="GitHub" <i class="fa-brands fa-github-alt"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Email" <i class="fa-solid fa-envelope"></i></a></li>
        </ul>
       
    </article>
    <article class="article-4">
        <img class="img-quienes" src="./assets/images/maria-somoza.jpg" alt="Foto de María Somoza">
        <h5 class="name-quienes">María Somoza</h5>
        <p class="text-quienes">Lorem ipsum dolor sit amet consectetur adipiscing elit, ultrices mollis elementum commodo lacus risus iaculis, tempus fusce habitant hendrerit ridiculus inceptos. Vel eu placerat bibendum massa pellentesque porta ornare lacus phasellus eros posuere ut at id curae, suspendisse ac aenean nunc eleifend in cum non himenaeos etiam facilisis faucibus accumsan.</p>
        <ul class="social-media-items">
            <li class="item"><a href="" target="_blank" title="Twitter" <i class="fa-brands fa-twitter"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Linkedin" <i class="fa-brands fa-linkedin-in"></i></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="GitHub" <i class="fa-brands fa-github-alt"></i></a></li>
            <li> · </li>
            <li class="item"><a href="" target="_blank" title="Email" <i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </article>
</div>