<div class="rectangle"></div>
<section class="strenghts-weaknesses">
  <include src="./article-strenghts.html" strenghts_h4="Fortalezas"
    strenghts_p="Walter White supo hacer de sus debilidades fortalezas: gracias a sus conocimientos en química consiguió materias primas a partir de simples productos de droguería. Nosotras, como Walter White, destacamos por nuestros conocimientos previos de trabajo en equipo, comunicación fluida y asertiva, compromiso y perseverancia, que sumado a nuestros recientes conocimientos en programación nos convierte en un gran equipo de Breaking Coders! ">
  </include>
  <include src="./article-strenghts.html" strenghts_h4="Debilidades"
    strenghts_p="Aunque en algún momento durante el desarrollo podrá parecer que el código va a acabar como la caravana de Walter, os podemos asegurar que todo terminará por cobrar sentido. Quedará limpio, optimizado y, sobre todo, será eficiente. El producto resultante será de la mejor calidad.">
  </include>
</section>