//functions
$defaultFontSize: 16;
@function rem($pixels) {
    @return ($pixels / $defaultFontSize * 1rem);
  }

  //colors
  $colorButton: #099d8d;
  $colorText: #54585a;
  $colorIcon: #14d9c4;

  //fonts
  $mainFont: "Open Sans", sans-serif;