html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.team__p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #54585a; }

.form {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #54585a;
  margin-top: 3.125rem; }
  .form__input {
    display: block;
    box-shadow: none;
    width: 18.125rem;
    height: 2.8125rem;
    margin: 0.4375rem 0.9375rem;
    padding-left: 0.9375rem; }
    .form__input--email {
      font-size: 1rem;
      width: 18.125rem;
      height: 2.8125rem;
      margin: 0.4375rem 0.9375rem;
      padding-left: 0.9375rem;
      color: #54585a; }
    .form__input--send {
      background-color: #099d8d;
      width: 18.125rem;
      margin-top: 1.875rem;
      margin-bottom: 3.75rem;
      margin-left: 0.9375rem;
      margin-right: 0.9375rem;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0.6875rem 4.625rem 0.75rem;
      border-radius: 0.25rem; }
    .form__input--color {
      color: #14d9c4; }
  .form__textarea {
    width: 18.125rem;
    margin-top: 0.4375rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    height: 6.5625rem;
    padding-left: 0.9375rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem; }
  .form__label {
    display: inline-block;
    width: 100vw;
    padding-top: 0.8125rem;
    padding-bottom: 0.4375rem;
    padding-left: 0.9375rem; }

@media all and (min-width: 748px) {
  .form__input {
    width: 27.625rem;
    margin: 0.4375rem 10.1875rem; }
    .form__input--email {
      width: 27.625rem;
      margin: 0.4375rem 10.1875rem; }
    .form__input--send {
      width: 12.875rem;
      margin-left: 24.9375rem; }
  .form__textarea {
    width: 27.625rem;
    margin-left: 10.1875rem; }
  .form__label {
    padding: 1.875rem 6.5rem 0.4375rem 10.1875rem; } }

@media all and (min-width: 1200px) {
  .form__input {
    width: 37.5625rem;
    margin: 0.4375rem 18.6875rem; }
    .form__input--email {
      width: 24.6875rem;
      margin-bottom: 0.4375rem;
      margin-left: 18.6875rem; }
    .form__input--send {
      width: 17.375rem;
      margin-left: 38.875rem; }
  .form__textarea {
    width: 37.5625rem;
    margin-left: 18.6875rem; }
  .form__label {
    padding: 0.8125rem 18.75rem 0.4375rem 18.6875rem; } }

:root {
  --font-1: "Open Sans", sans-serif;
  --font-2: "Rubik", sans-serif;
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --grey-background: #f1f1f1; }

* {
  box-sizing: border-box; }

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.5625rem;
  width: 100vw;
  position: fixed;
  top: 0;
  opacity: 0.95;
  z-index: 1; }

.title {
  background-color: var(--dark-green);
  font-family: var(--font-2);
  font-size: 1rem;
  color: var(--white);
  width: 100vw;
  height: 60px;
  text-align: center;
  padding-top: 1.4375rem;
  text-transform: uppercase; }

.title a {
  text-decoration: none;
  color: var(--white); }

.nav {
  background-color: var(--light-green);
  width: 100vw;
  height: 2.8125rem;
  text-align: center;
  padding: 10px; }

.ul-nav {
  display: flex;
  justify-content: space-around; }

.li-nav {
  display: inline-block;
  text-align: center;
  font-size: 0.9375rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  text-transform: uppercase; }

.menu {
  text-decoration: none;
  font-family: var(--font-2);
  color: var(--white);
  align-items: center; }

/* header */
/*hero*/
.hero {
  width: 100vw;
  height: 26.3125rem;
  background-image: url("../images/breaking-code-320.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lema {
  color: var(--black);
  width: 16.25rem;
  height: 3.125rem;
  font-family: var(--font-1);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--white);
  line-height: 1.39;
  text-align: center;
  padding: 0.875rem 0.9375rem 1rem;
  margin: 26.25rem 0.9375rem 0rem; }

/*hero*/
/* team-mireia */
.team_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem; }

.team_h3 {
  font-family: var(--font-2);
  color: var(--light-green);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 2.875rem;
  margin-top: 4.75rem; }

.team_p {
  font-family: var(--font-1);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-grey);
  margin: 0.9375rem 0 0; }

/* team-mireia */
/*Start strenghts*/
.strenghts-weaknesses {
  background-color: rgba(84, 88, 90, 0.2);
  /*rgb code of the color + opacity*/
  padding: 1.875rem 0.9375rem 0.9375rem 0.9375rem; }

.strenghts {
  margin-bottom: 1.875rem; }

.strenghts_h4 {
  text-transform: capitalize;
  color: var(--dark-green);
  font-family: var(--font-2);
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2.05;
  text-align: center; }

.strenghts_p {
  color: var(--dark-grey);
  font-family: var(--font-1);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

.rectangle {
  background-color: white;
  height: 1.875rem;
  width: 1.875rem;
  margin: auto;
  transform: translateY(50%) rotate(45deg); }

/*End strenghts*/
/*quienes somos maria*/
.quienes-somos {
  width: 100vw;
  display: flex;
  flex-direction: column; }

.title-quienes {
  background-color: var(--white);
  font-family: var(--font-2);
  font-size: 24px;
  color: var(--dark-green);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.article-1,
.article-2,
.article-3,
.article-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-1); }

.img-quienes {
  width: 180px;
  height: 180px;
  border-color: var(--light-grey);
  border-radius: 5px; }

.name-quienes {
  color: var(--black);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.text-quienes {
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px; }

.social-media-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px; }

.item a {
  text-decoration: none;
  color: var(--dark-green); }

li {
  color: var(--dark-green); }

/*Fin quienes somos Maria*/
/* footer-mireia */
.footer {
  width: 100vw;
  height: 250px;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.875rem;
  border-top: 0.0625rem solid var(--black); }

.footer_copy {
  font-family: var(--font-1);
  color: var(--light-grey);
  padding-bottom: 1.25rem; }

.footer_menu {
  font-family: var(--font-1);
  color: var(--dark-grey);
  text-transform: uppercase;
  line-height: 1.25rem;
  padding-bottom: 1.875rem; }

.footer_img {
  height: 2.8125rem;
  width: 7.24375rem; }

.footer_links {
  text-decoration: none;
  color: var(--dark-grey); }

/* footer-mireia */
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    margin: 0 0 281px;
    padding: 15px 45px 14px;
    opacity: 0.95;
    background-color: var(--dark-green); }
  .title {
    text-align: start;
    background-color: transparent; }
  .nav {
    background-color: var(--dark-green); }
  .lema {
    opacity: 0.8;
    margin: 341px 281px 0 46px;
    padding: 15px 30px;
    width: 441px;
    height: 80px; }
  .hero {
    background-image: url("../images/Breaking-code-768.jpg"); }
  .team_div {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px; }
  .team_h3 {
    margin-top: 2.8125rem;
    padding-top: 0; }
  /*Start strenghts*/
  .strenghts-weaknesses {
    display: flex;
    padding: 2.8125rem 1.875rem 1.875rem 1.875rem;
    gap: 1.875rem; }
  .strenghts_h4 {
    margin-bottom: 0.9375rem; }
  /*End strenghts*/
  /* footer-mireia */
  .footer {
    height: 170px;
    align-items: flex-start;
    padding-left: 45px; }
  .footer_copy {
    padding-bottom: 15px; }
  .footer_menu {
    line-height: 30px;
    position: absolute;
    right: 0;
    padding-right: 45px;
    padding-bottom: 56px;
    text-align: right; }
  /* footer-mireia */ }

@media all and (min-width: 1200px) {
  .header {
    margin: 0 0 281px;
    padding: 15px 45px 14px; }
  .title {
    margin-left: 142px; }
  .ul-nav {
    margin-right: 138px; }
  .lema {
    width: 574px;
    height: 90px; }
  .hero {
    background-image: url("../images/Breaking-code.jpg");
    background-size: 100vw 60vh; }
  .team_div {
    margin-left: 299px;
    margin-right: 300px; }
  /*Start strenghts*/
  .strenghts-weaknesses {
    display: flex;
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
    gap: 1.875rem; }
  /*End strenghts*/
  /* footer-mireia */
  .footer {
    height: 161px;
    align-items: flex-start;
    padding-left: 138px; }
  .footer_copy {
    padding-bottom: 15px; }
  .footer_menu {
    line-height: 30px;
    position: absolute;
    right: 0;
    padding-right: 138px;
    padding-bottom: 47px;
    text-align: right; }
  /* footer-mireia */ }

/*# sourceMappingURL=main.css.map */
