.section-quienes {
  margin-bottom: 50px;
}

.title-quienes {
  background-color: var(--white);
  font-family: var(--font-2);
  font-size: 24px;
  text-transform: uppercase;
  color: var(--dark-green);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-1,
.article-2,
.article-3,
.article-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-1);
}
.img-quienes {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border: 5px solid var(--light-grey);
  border-radius: 5px;
}
.name-quienes {
  color: var(--black);
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.text-quienes {
  color: var(--dark-grey);
  text-align: center;
  line-height: 25px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
.social-media-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 35px;
}
.item a {
  text-decoration: none;
  color: var(--dark-green);
}
li {
  color: var(--dark-green);
}

//////////////////////////////////

@media all and (min-width: 768px) {
  .div-quienes {
    margin: 0 70px 0 70px;
    max-width: 100vw;
    position: relative;
  }
  .article-1,
  .article-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .article-2,
  .article-4 {
    display: flex;
    flex-direction: row-reverse;
  }

  .text-container1,
  .text-container3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;

    .img-quienes {
      width: 220px;
      height: 220px;
    }
    .name-quienes {
      display: flex;
      justify-items: flex-start;
      margin-left: 50px;
    }
    .text-quienes {
      text-align: left;
    }
    .social-media-items {
      justify-content: flex-start;
      margin-left: 50px;
    }
  }
  .text-container2,
  .text-container4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 500px;

    .img-quienes {
      width: 220px;
      height: 220px;
    }
    .name-quienes {
      display: flex;
      justify-content: flex-end;
      margin-right: 50px;
    }
    .text-quienes {
      text-align: right;
    }
    .social-media-items {
      justify-content: flex-end;
      margin-right: 50px;
    }
  }
}

@media all and (min-width: 1200px) {
  .div-quienes {
    margin: 0 100px 0 100px;
  }
  .text-container1,
  .text-container2,
  .text-container3,
  .text-container4 {
    min-width: 400px;
  }
  .img-quienes {
    width: 270px;
    height: 270px;
  }
}
