.team__p {
    color: $colorText;
    font-size: rem(12);
    font-family: $mainFont;
    text-align: center;

}
.form {
    font-family: $mainFont;
    font-size: rem(14);
    color: $colorText;
    margin-top: rem(50);
    
    &__input{
 // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    display: block;
    box-shadow: none;
    width: rem(290);
    height: rem(45);
    margin: rem(7) rem(15);
    padding-left: rem(15);
         
        &--email{
            font-size: rem(16);
            width: rem(290);
            height: rem(45);
            margin: rem(7) rem(15);
            padding-left: rem(15);
            color: $colorText;
          
        }
    &--send {
        background-color: $colorButton;
        width: rem(290);
        margin-top: rem(30);
        margin-bottom: rem(60);
        margin-left: rem(15);
        margin-right: rem(15);
        color: white;
        font-family: $mainFont;
        font-size: rem(16);
        text-transform: uppercase;
        padding: rem(11) rem(74) rem(12);
        border-radius: rem(4);
    }
    &--color {
        color: $colorIcon;
    }
    }

    &__textarea {
        width: rem(290);
        margin-top: rem(7);
        margin-left: rem(15);
        margin-right: rem(15);
        height: rem(105);
        padding-left: rem(15);
        font-family: $mainFont;
        font-size: rem(14);
    }
    &__label {
        display: inline-block;
        padding-top: rem(13);
        padding-bottom: rem(7);
        padding-left: rem(15);
        width: 100vw;
    }
}

@media all and (min-width: 748px) {
.form {
    &__input{
    width: rem(442);
    margin: rem(7) rem(163);
         
        &--email{
            width: rem(442);
            margin: rem(7) rem(163);    
        }

    &--send {
        width: rem(206);
        margin-left: rem(399);
     
    }
    }

    &__textarea {
        width: rem(442);
        margin-left: rem(163);
    }
    &__label {
        padding: rem(30) rem(104) rem(7) rem(163);
    }
}
}

@media all and (min-width: 1200px) {
    .form {
        &__input{
        width: rem(601);
        margin: rem(7) rem(299);
             
            &--email{
                width: rem(395);
                margin-bottom: rem(7); 
                margin-left: rem(299);    
            }
    
        &--send {
            width: rem(278);
            margin-left: rem(622);
         
        }
        }
    
        &__textarea {
            width: rem(601);
            margin-left: rem(299); 
        }
        &__label {
            padding: rem(13) rem(300) rem(7) rem(299);
        }
    }
}