// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

@import "core/reset";
@import "core/variables";
@import "layout/form";
@import "layout/team";
@import "layout/aboutus";
@import "layout/strenghts-weaknesses";
@import "layout/footer";

:root {
  --font-1: "Open Sans", sans-serif;
  --font-2: "Rubik", sans-serif;
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --grey-background: #f1f1f1;
}

* {
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: rem(105);
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.95;
  z-index: 1;
}

.title {
  background-color: var(--dark-green);
  font-family: var(--font-2);
  font-size: rem(16);
  color: var(--white);
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: rem(23);
  text-transform: uppercase;
}

.title a {
  text-decoration: none;
  color: var(--white);
}

.nav {
  background-color: var(--light-green);
  width: 100%;
  height: rem(45);
  text-align: center;
  padding: 10px;
}

.ul-nav {
  display: flex;
  justify-content: space-around;
}

.li-nav {
  display: inline-block;
  text-align: center;
  font-size: rem(15);
  margin-top: rem(5);

  margin-bottom: rem(5);
  text-transform: uppercase;
}

.menu {
  text-decoration: none;
  font-family: var(--font-2);
  color: var(--white);
  align-items: center;
}

/* header */

/*hero*/
.hero {
  width: 100%;
  height: rem(421);
  background-image: url("../images/Breaking-code-320.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lema {
  color: var(--black);
  width: rem(260);
  height: rem(50);
  font-family: var(--font-1);
  font-size: rem(16);
  font-weight: 600;
  background-color: var(--white);
  line-height: 1.39;
  text-align: center;
  padding: rem(14) rem(15) rem(16);
  margin: rem(420) rem(15) rem(0);
}

/*hero*/



@media all and (min-width: 768px) {
  // header
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    margin: 0 0 281px;
    padding: 15px 45px 14px;
    opacity: 0.95;
    background-color: var(--dark-green);
  }
  .title {
    text-align: start;
    background-color: transparent;
  }
  .nav {
    background-color: var(--dark-green);
  }
  // header

  // hero
  .lema {
    opacity: 0.8;
    margin: 341px 281px 0 46px;
    padding: 15px 30px;
    width: 441px;
    height: 80px;
  }
  .hero {
    background-image: url("../images/Breaking-code-768.jpg");
  }
  // hero

  @media all and (min-width: 1200px) {
    // header
    .header {
      margin: 0 0 281px;
      padding: 15px 45px 14px;
    }

    .title {
      margin-left: 142px;
    }

    .ul-nav {
      margin-right: 138px;
    }
    // header

    // hero
    .lema {
      width: 574px;
      height: 90px;
    }

    .hero {
      background-image: url("../images/Breaking-code.jpg");
      background-size: 100% 60vh;
    }
    // hero
  }
}
