// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

@import 'core/reset';
@import 'core/variables';
@import 'layout/form';


:root {
  --font-1: "Open Sans", sans-serif;
  --font-2: "Rubik", sans-serif;
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --grey-background: #f1f1f1;
  
}

* {
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: rem(105);
  width: 100vw;
  position: fixed;
  top: 0;
  opacity: 0.95;
  z-index: 1;
}

.title {
  background-color: var(--dark-green);
  font-family: var(--font-2);
  font-size: rem(16);
  color: var(--white);
  width: 100vw;
  height: 60px;
  text-align: center;
  padding-top: rem(23);
  text-transform: uppercase;
 
}

.title a {
  text-decoration: none;
  color: var(--white);
}

.nav {
  background-color: var(--light-green);
  width: 100vw;
  height: rem(45);
  text-align: center;
  padding: 10px;
}

.ul-nav {
  display: flex;
  justify-content: space-around;
}

.li-nav {
  display: inline-block;
  text-align: center;
  font-size: rem(15);
  margin-top: rem(5);

  margin-bottom: rem(5);
  text-transform: uppercase;
}

.menu {
  text-decoration: none;
  font-family: var(--font-2);
  color: var(--white);
  align-items: center;
}

/* header */

/*hero*/
.hero {
  width: 100vw;
  height: rem(421);
  background-image: url("../images/breaking-code-320.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lema {
  color: var(--black);
  width: rem(260);
  height: rem(50);
  font-family: var(--font-1);
  font-size: rem(16);
  font-weight: 600;
  background-color: var(--white);
  line-height: 1.39;
  text-align: center;
  padding: rem(14) rem(15) rem(16);
  margin: rem(420) rem(15) rem(0);
}

/*hero*/

/* team-mireia */
.team_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: rem(15);
  margin-right: rem(15);
}

.team_h3 {
  font-family: var(--font-2);
  color: var(--light-green);
  font-size: rem(24);
  text-transform: uppercase; 
  padding-top: rem(46);
  margin-top: rem(76);
}

.team_p {
  font-family: var(--font-1);
  font-size: rem(16);
  line-height: 1.5;
  text-align: center;
  color: var(--dark-grey);
  margin: rem(15) 0 0;
}

/* team-mireia */

/*Start strenghts*/
/* [TODO: valdenebro] change px to rem*/
.strenghts-weaknesses {
  background-color: rgba(84, 88, 90, 0.2); /*rgb code of the color + opacity*/
  padding: 30px 15px 15px 15px;
}
.strenghts {
  margin-bottom: 30px;
}
.strenghts_h4 {
  color: var(--dark-green);
  font-family: var(--font-2);
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
}
.strenghts_p {
  color: var(--dark-grey);
  font-family: var(--font-1);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.rectangle {
  background-color: white;
  height: 30px;
  width: 30px;
  margin: auto;
  transform: translateY(50%) rotate(45deg);
}

/*End strenghts*/


/*quienes somos maria*/
.quienes-somos {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.title-quienes {
  background-color: var(--white);
  font-family: var(--font-2);
  font-size: 24px;
  color: var(--dark-green);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-1,
.article-2,
.article-3,
.article-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-1);
}
.img-quienes {
  width: 180px;
  height: 180px;
  border-color: var(--light-grey);
  border-radius: 5px;
}
.name-quienes {
  color: var(--black);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-quienes {
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}
.social-media-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}
.item a {
  text-decoration: none;
  color: var(--dark-green);
}
li {
  color: var(--dark-green);
}

/*Fin quienes somos Maria*/

/* footer-mireia */
.footer {
    width: 100vw;
    height: 250px;
    font-size: rem(14);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(30);
    border-top: rem(1) solid var(--black);
  }
  
  .footer_copy {
    font-family: var(--font-1);
    color: var(--light-grey);
    padding-bottom: rem(20);
  }
  
  .footer_menu {
    font-family: var(--font-1);
    color: var(--dark-grey);
    text-transform: uppercase;
    line-height: rem(20);
    padding-bottom: rem(30);
  }
  
  .footer_img {
    height: rem(45);
    width: rem(115.9);
  
  }
  
  .footer_links {
    text-decoration: none;
    color: var(--dark-grey);
  }
  
  /* footer-mireia */

@media all and (min-width: 768px) {

  // header
  .header{
    flex-direction:row;
    justify-content: space-between;
    height: 60px;
    margin: 0 0 281px;
    padding: 15px 45px 14px;
    opacity: 0.95;
    background-color: var(--dark-green);
  }
  .title{
    text-align: start;
    background-color: transparent;
   

  }
  .nav{
      background-color: var(--dark-green);
    }
  // header
  // hero
  .lema{
    opacity: 0.8;
    margin: 341px 281px 0 46px;
    padding: 15px 30px;
    width: 441px;
    height: 80px;
  }
.hero{
  background-image: url("../images/Breaking-code-768.jpg");
}
  // hero


  // team-mireia
  .team_div {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
  }

  .team_h3 {
    margin-top: rem(45);
    padding-top: 0;
  }
   // team-

  /*Start strenghts*/
  .strenghts-weaknesses {
    display: flex;
    padding: 45px 30px 30px 30px;
    gap: 30px;
  }
  .strenghts_h4 {
    margin-bottom: 15px;
  }
  /*End strenghts*/

/* footer-mireia */
  .footer {
    height: 170px;
    align-items: flex-start;
    padding-left: 45px;
  }

  .footer_copy {
    padding-bottom: 15px;
  }

  .footer_menu {
    line-height: 30px;
    position: absolute;
    right: 0;
    padding-right: 45px;
    padding-bottom: 56px;
    text-align: right;
  }
/* footer-mireia */
  }

@media all and (min-width: 1200px) {
   // header
   .header{
    margin: 0 0 281px;
    padding: 15px 45px 14px;
   }

   .title{
    margin-left: 142px;
   }
   
   .ul-nav{
    margin-right: 138px;
   }
  // header
  // hero
  .lema{
    width: 574px;
    height: 90px;
  }

  .hero{
    background-image: url("../images/Breaking-code.jpg");
    background-size: 100vw 60vh;
  }
  // hero

  // team-mireia
  .team_div {
    margin-left: 299px;
    margin-right: 300px;
  }
  // team-mireia

  /*Start strenghts*/
  .strenghts-weaknesses {
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    gap: 30px;
  }
  /*End strenghts*/
  
/* footer-mireia */
  .footer {
    height: 161px;
    align-items: flex-start;
    padding-left: 138px;
  }

  .footer_copy {
    padding-bottom: 15px;
  }

  .footer_menu {
    line-height: 30px;
    position: absolute;
    right: 0;
    padding-right: 138px;
    padding-bottom: 47px;
    text-align: right;
  }
/* footer-mireia */
}