:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}

.quienes-somos {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-quienes {
    background-color: white;
    font-family: var(--font-2);
    font-size: 24px;
    color: var(--Verde-oscuro);
    margin-top:50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
.article-1, .article-2, .article-3, .article-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
}
.img-quienes {
    width: 180px;
    height: 180px;
}
.name-quienes{
    color: var(--Negro);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.text-quienes{
    color: var(--Gris-oscuro);
    text-align: center;
    margin-bottom: 15px;
    

}