:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}