:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}

.team-equipo {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.team-title {
    font-family: var(--font-2);
    color: var(--Verde-claro);
    font-size: 24px;
    padding-bottom: 15px;
 
   
}

.team-text {
    font-family: var(--font-1);
    color: var(--Gris-oscuro);
    padding-bottom: 30px;
}