:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}
/* footer-mireia */
.footer {
    width: 100vw;
    height: 250px;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.footer-copy {
    font-family: var(--font-1);
    color: var(--Gris-claro);
    padding-bottom: 20px;
}

.footer-menu {
    font-family: var(--font-1);
    color: var(--Gris-oscuro);
    line-height: 1.5;
    padding-bottom: 30px;
}

.footer img {
    height: 45px;
    width: 115.9px;
    padding-bottom: 45px;
}

/* footer-mireia */
