:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105px;
    width:100vw;
    position: fixed;
    opacity: 0.95;
    z-index: 1;
 }

.title{
    background-color: var(--Verde-oscuro);
    font-family: var(--font-2);
    font-size: 16px;
    color: var(--Blanco);
    width: 100vw;
    height:60px; 
    text-align: center;
    padding-top: 23px

}

.nav{
    background-color: var(--Verde-claro);
    width: 100vw;
    height: 45px;
    text-align: center;
    padding: 10px;
   }

.li-nav{
    display:inline-block;
    text-align: center;
    font-size:15px;
    margin-top: 5px;
    margin-left: 8px;
padding-bottom: 5px; }

.menu{
    text-decoration: none; 
    font-family: var(--font-2);
    color: var(--Blanco); 
    align-items: center;
}

/* header */

 /*hero*/
 .hero{
    width: 100vw;
    height: 421px;
    background-image: url(../images/Breaking\ code.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
   
   
 }

 .lema{
   color: var(--Negro);
   width: 260px; 
   height: 50px;
   font-family: var(--font-1);
   font-size: 18px;
   font-weight: 600;
   background-color: var(--Blanco);
   line-height: 1.39;
   text-align: center;
   padding: 14px 15px 16px;
   margin:420px 15px 0


 }

/*hero*/

/* team-mireia */
.team_div {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.team_h3 {
    font-family: var(--font-2);
    color: var(--Verde-claro);
    font-size: 24px;
    padding-top: 46px;
    margin-top: 46px;
    
}

.team_p {
    font-family: var(--font-1);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--Gris-oscuro);
    margin: 15px 0 0;
   
}

/* team-mireia */

/*Start Fortalezas*/
/* [TODO: valdenebro] change px to rem*/
.fortalezas-debilidades {
    background-color: rgb(84, 88, 90, 0.2); /*rgb code of the color + opacity*/
    padding: 30px 15px 45px;
}
.fortalezas {
    margin-bottom: 30px;
}
.fortalezas_h4 {
    color: var(--Verde-oscuro);
    font-family: var(--font-2);
    font-size: 22px;
    font-weight: 500;
    line-height: 2.05;
    text-align: center;

}
.fortalezas_p {
    color: var(--Gris-oscuro);
    font-family: var(--font-1);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.rectangle {
    background-color: white;
    height: 30px;
    width: 30px;
    margin: auto;
    transform: translateY(50%) rotate(45deg);
}

/*End Fortalezas*/

/* footer-mireia */
.footer {
    width: 100vw;
    height: 250px;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.footer_copy {
    font-family: var(--font-1);
    color: var(--Gris-claro);
    padding-bottom: 20px;
}

.footer_menu {
    font-family: var(--font-1);
    color: var(--Gris-oscuro);
    line-height: 1.5;
    padding-bottom: 30px;
}

.footer_img {
    height: 45px;
    width: 115.9px;
    padding-bottom: 45px;
}

/* footer-mireia */

/*quienes somos maria*/
.quienes-somos {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-quienes {
    background-color: white;
    font-family: var(--font-2);
    font-size: 24px;
    color: var(--Verde-oscuro);
    margin-top:50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
.article-1, .article-2, .article-3, .article-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1);
}
.img-quienes {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    border-color: #54585A;
}
.name-quienes{
    color: var(--Negro);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;

}
.text-quienes{
    color: var(--Gris-oscuro);
    text-align: center;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.social-media-items{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px ;
}
.item a {
    text-decoration: none;
    color: #099D8D;
}
/*fin quienes somos maria*/
