:root {
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105px;
    width:100vw;
    position: fixed;
    opacity: 0.95;

 }

.title{
    background-color: var(--Verde-oscuro);
    font-family: var(--font-2);
    font-size: 16px;
    color: var(--Blanco);
    width: 100vw;
    height:60px; 
    text-align: center;
    padding-top: 23px

}

.nav{
    background-color: var(--Verde-claro);
    width: 100vw;
    height: 45px;
    text-align: center;
    padding: 10px;
   }

.li-nav{
    display:inline-block;
    text-align: center;
    font-size:15px;
    margin-top: 5px;
    margin-left: 8px;
padding-bottom: 5px; }

.menu{
    text-decoration: none; 
    font-family: var(--font-2);
    color: var(--Blanco); 
    align-items: center;
}

/* header */

 /*hero*/
 .hero{
    width: 100vw;
    height: 421px;
    background-image: url(../images/Breaking\ code.jpg);
    background-size: contain;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
   
   
 }

 .lema{
   color: var(--Negro);
   width: 260px; 
   height: 50px;
   font-family: var(--font-1);
   font-size: 18px;
   font-weight: 600;
   background-color: var(--Blanco);
   line-height: 1.39;
   text-align: center;
   padding: 14px 15px 16px;
   margin:420px 15px 0


 }

/*hero*/

/*Start Fortalezas*/
/* [TODO: valdenebro] pasar píxeles a rem*/
.fortalezas-debilidades {
    background-color: rgb(84, 88, 90, 0.2); /*rgb code of the color + opacity*/
    padding: 30px 15px 45px;
}
.fortalezas {
    margin-bottom: 30px;
}
.fortalezas_h4 {
    color: var(--Verde-oscuro);
    font-family: var(--font-2);
    font-size: 22px;
    font-weight: 500; /*the photo seems to have more weight than this, but this is the specified one*/
    line-height: 2.05;
    text-align: center;

}
.fortalezas_p {
    color: var(--Gris-oscuro);
    font-family: var(--font-1);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.rectangle {
    background-color: red;
    height: 30px;
    width: 30px;
    margin: auto;
    width: 0; 
    height: 0; 
    /* border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00; */
}

/*End Fortalezas*/
