:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}

/* header */
.header{
    background-color: #54585A;
    display: flex;
    flex-direction: column;
    height: 105px;
    width:100vw;
    position: fixed;
    opacity: 0.95;

 }

.title{
    background-color: var(--Verde-oscuro);
    font-family: var(--font-2);
    font-size: 16px;
    color: var(--Blanco);
    width: 100vw;
    height:60px; 
    text-align: center;
    padding-top: 27px;

}

.nav{
    background-color: var(--Verde-claro);
    width: 100vw;
    height: 45px;
    text-align: center;
   }

.li-nav{
    display:inline-block;
    text-align: center;
    font-size:15px;
    margin-top: 11px;
    margin-left: 10px; }

.menu{
    text-decoration: none; 
    font-family: var(--font-2);
    color: var(--Blanco); 
    align-items: center;
}

/* header */

 /*hero*/
 .hero{
    width: 100vw;
    height: 421px;
    background-image: url(../images/Breaking\ code.jpg);
    background-size: contain;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items: center;
   
 }

 .lema{
   color: var(--Negro);
   width: 260px; 
   height: 50px;
   font-family: var(--font-1);
   font-size: 18px;
   font-weight: 600;
   background-color: var(--Blanco);
   line-height: 1.39;
   text-align: center;
   padding: 10px;


 }

/*hero*/
