:root{
    --font-1: "Open Sans", sans-serif;
    --font-2: "Rubik", sans-serif;
    --Verde-oscuro: #099D8D;
    --Verde-claro: #14D9C4;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Gris-oscuro: #54585A;
    --Gris-claro: #B8B8B9;
    --Gris-de-fondo: #F1F1F1;
}

 /*hero*/
 .hero{
    width: 100vw;
    height: 421px;
    background-image: url(../images/Breaking\ code.jpg);
    background-size: contain;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items: center;
   
 }

 .lema{
   color: var(--Negro);
   width: 260px; 
   height: 50px;
   font-family: var(--font-1);
   font-size: 18px;
   font-weight: 600;
   background-color: var(--Blanco);
   line-height: 1.39;
   text-align: center;
   padding: 10px;


 }

/*hero*/
